include ../partials/_head
	link(rel='stylesheet', type='text/css', href='./assets/css/loading.min.css')



	-
		var title = 'samposha'
		var discription = 'samposha discription'
		var url = 'xxxxxx'
			
	include ../partials/_meta





body#topPage




	include ../partials/_loading





	include ../partials/_header
	
	



	#wrapper
		
		
		
		
		section#KV
			
			.Section.deviceHeight
				
				.Contents.widthL
					
					h1.Header.fontJP
						.row つくるまちをつくる。
						.row そだつ店がそだつ。
						.row つづける人とつづける。

					.bg 
						.img.bgAnim
					
		
		
		
		main
			
			

			section#Copy

				.Section

					.Contents.widthM.fontJP

						p.fontAnim あらゆるものがインターネットで<br class="sp">手に入るようになったいま、<br>人は、まちに一歩も出ていかなくても、<br class="sp">生きていけるようになりました。

						p.fontAnim それでも、きっと、散歩が必要です。<br>身体だけではなく、<br class="sp">心の健康のためにも。

						p.fontAnim それでは、わざわざ散歩に<br class="sp">出かけたくなるようなまちは、<br>どんなまちか？

						p.fontAnim 私たち散歩社は、<br class="sp">「つくるまち」だと考えます。<br>オープンして完成、ではなく、<br>そこにいる人たちが、<br class="sp">何かをつくり続けているようなまち。

						p.fontAnim 「つくるまち」には<br class="sp">「そだつ店」があります。<br>チェーン店のように確立された<br class="sp">ビジネスモデルはないけれど、<br>個人による小さな挑戦が<br class="sp">いつも繰り返され、<br>訪れる人たちの応援のもと、<br class="sp">少しずつそだっていくような店。

						p.fontAnim そして、そこには<br class="sp">「つづける人」がいます。<br>ずっと昔からまちに関わりつづけている人。何十年もお店をつづけている人。<br>そこに新しい価値をつくって、そうしたまちの歴史の流れに、交わっていく人。

						p.fontAnim つくるまちをつくる。<br>そだつ店とそだつ。<br>つづける人とつづける。

						p.fontAnim それがわたしたち、散歩社の役割です。



			section#About 

				.Section 

					.Contents.widthM

						h2 ABOUT US 

						.Holder.flex

							p.slideLeft
								| 散歩社は、「つくるまちをつくる。そだつ店とそだつ。つづける人とつづける。」
								br
								| をコンセプトに、空間づくり、まちづくりを行うマイクロデベロッパーです。
								br
								| 鉄道会社やデベロッパー、自治体などからのご依頼を受け、個性あるお店を増やし、
								br
								| 小～中規模の物件や、エリアの価値を上げるお手伝いをします。
								br
								| お店のスタートアップを応援することや、
								br
								| まちのコミュニケーションを活性化しそれらをコンテンツ化することも得意としています。

							a.moreBtn.slideRight(href='./about.html') READ MORE



			section#Service 

				.Section 

					.Contents.widthM

						h2 SERVICE

						.Holder.flex

							.textArea.slideLeft
								p
									| 小～中規模の物件およびエリアの
									br
									| 総合プロデュース事業（マイクロディベロップメント事業）
								ul 
									li コンセプト設計、コンテンツディレクション、クリエイティブディレクション
									li マスターリース／サブリース、リーシング営業
									li 店舗プロデュース・運営
									li エリアコミュニケーション
									li イベントの企画・運営
									li 紙、ウェブなど制作物のディレクション・制作
									li 展示空間の演出・什器制作・インストール
								p
									| 店舗運営者向けの講座・メディア事業

							.imgArea.slideRight
								img(src='assets/img/serviceImg.jpg')



			section#Projects 

				.Section 

					.Contents.widthM

						h2 PROJECTS

						.Holder.flex

							a.Block.slideUp(href='./projectsDetails.html')
								.imgArea
									.img(style='background-image: url("assets/img/project01.jpg")')
								.textArea 
									.ttl BONUS TRACK
									.subttl PLACE (施設の企画・運営)<br>owner：小田急電鉄株式会社　collaborator：omusubi不動産
									p 2020年4月に下北沢に誕生した、<br>みんなで使い、みんなで育てていく新しい “まち”。

							a.Block.slideUp(href='./projectsDetails.html')
								.imgArea
									.img(style='background-image: url("assets/img/project02.jpg")')
								.textArea 
									.ttl お店の学校
									.subttl ONLINE SCHOOL (オンラインスクール)<br>partner：freee株式会社
									p これからの時代の “お店” について<br>一緒に学び、考え、つくっていくオンラインスクール。

							a.Block.slideUp(href='./projectsDetails.html')
								.imgArea
									.img(style='background-image: url("assets/img/project03.jpg")')
								.textArea 
									.ttl BONUS BLD.
									.subttl PLACE (施設の企画・運営)<br>owner：三井不動産株式会社　collaborator：合同会社ANDON
									p 日本橋エリアに新しい風を吹き込む”ボーナスのようなビル”。

							a.Block.slideUp(href='./projectsDetails.html')
								.imgArea
									.img(style='background-image: url("assets/img/project04.jpg")')
								.textArea 
									.ttl FROM EAST
									.subttl EVENT (イベントの企画・運営)<br>partner：三井不動産株式会社
									p 日本橋の東側のエリアで、<br>店舗やブランドを展開する方々が初めて一堂に会するマルシェ。

							a.Block.slideUp(href='./projectsDetails.html')
								.imgArea
									.img(style='background-image: url("assets/img/project05.jpg")')
								.textArea 
									.ttl 下北沢 線路と街
									.subttl WEB MEDIA (ウェブメディアの企画・運営)<br>partner：小田急電鉄株式会社
									p まちの歴史を作ってきた老舗店、これからの時代のまちづくり、<br>人と街をつなぐ店のあり方などについて取材を続けているメディア。



			section#News 

				.Section 

					.Contents.widthM

						h2 NEWS

						.Holder.slideUp

							//- a.Block.flexC(href='./newsDetails.html')
							//- 	span 2022/2/22
							//- 	p この時代の “お店” について一緒に学び、考え、つくっていくオンラインスクール開校。

							//- a.Block.flexC(href='./newsDetails.html')
							//- 	span 2022/2/22
							//- 	p この時代の “お店” について一緒に学び、考え、つくっていくオンラインスクール開校。

							//- a.Block.flexC(href='./newsDetails.html')
							//- 	span 2022/2/22
							//- 	p この時代の “お店” について一緒に学び、考え、つくっていくオンラインスクール開校。

							//- a.Block.flexC(href='./newsDetails.html')
							//- 	span 2022/2/22
							//- 	p この時代の “お店” について一緒に学び、考え、つくっていくオンラインスクール開校。












			include ../partials/_footer

					

		
include ../partials/_foot
script.
	$(function(){
		$.ajax({
			url: 'assets/php/rss.php',
			cache: false,
			dataType:"xml",

			success: function(xml){
				$(xml).find('item').each(function(){
					var title = $(this).find('title').text();
					var url = $(this).find('link').text();

					var dateYY = $(this).find('pubDate').text().slice(12, 16);
					var dateMM = $(this).find('pubDate').text().slice(8, 11);
					var dateDD = $(this).find('pubDate').text().slice(5, 7);

					if(dateMM == 'Jan') {
						var dateMMnum = '01';
					} else if(dateMM == 'Feb') {
						var dateMMnum = '02';
					} else if(dateMM == 'Mar') {
						var dateMMnum = '03';
					} else if(dateMM == 'Apr') {
						var dateMMnum = '04';
					} else if(dateMM == 'May') {
						var dateMMnum = '05';
					} else if(dateMM == 'Jun') {
						var dateMMnum = '06';
					} else if(dateMM == 'Jul') {
						var dateMMnum = '07';
					} else if(dateMM == 'Aug') {
						var dateMMnum = '08';
					} else if(dateMM == 'Sep') {
						var dateMMnum = '09';
					} else if(dateMM == 'Oct') {
						var dateMMnum = '10';
					} else if(dateMM == 'Nov') {
						var dateMMnum = '11';
					} else if(dateMM == 'Dec') {
						var dateMMnum = '12';
					}

					var html = '<a class="Block flexC" href="' + url + '" target="_blank"><span>' + dateYY + '/' + dateMMnum + '/' + dateDD +' </span><p>' + title + '</p></a>'

					$("section#News .Contents .Holder").append(html);

				});
			}
		});
	});
