include ../partials/_head



	-
		var title = 'samposha'
		var discription = 'samposha discription'
		var url = 'xxxxxx'
			
	include ../partials/_meta





body#aboutPage





	include ../partials/_header
	
	



	#wrapper
		
		
		
		
		section#KV
			
			.Section.deviceHeight
				
				.Contents.widthL
					
					.bg 
						.img.bgAnim
					
		
		
		
		main
			
			

			section#Member

				.Section

					.Contents.widthM

						h2 MEMBER

						.Holder.flex

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember01.jpg")' data-img='assets/img/aboutMember01.jpg')
								.textArea
									.name(data-nameEN='Hiroyuki Ono') 小野 裕之
									.pos 代表取締役CEO
									p 1984年岡山県生まれ。中央大学総合政策学部卒。<br>ソーシャルデザインをテーマにしたウェブマガジン「greenz.jp」を運営する<br>NPO法人グリーンズの経営を6年務めた後、同法人のソーシャルデザインや<br>まちづくりに関わる事業開発・再生のプロデュース機能をO&G合同会社として分社化、代表に就任。<br>greenz.jpビジネスアドバイザー。ジュエリーブランドSIRI SIRI共同代表。<br>おむすびスタンド ANDON共同オーナー。下北沢のまちづくり会社 散歩社 代表取締役。<br>西粟倉のベンチャーsonraku社外取締役。発酵デザインラボ株式会社 取締役CFO。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember02.jpg")' data-img='assets/img/aboutMember02.jpg')
								.textArea
									.name(data-nameEN='Shintaro Uchinuma') 内沼 晋太郎
									.pos 取締役CCO
									p 1980年生まれ。NUMABOOKS代表。ブック・コーディネーター。<br>「本屋B&B」共同経営者、「日記屋 月日」店主。ほか、株式会社バリューブックス社外取締役、<br>「八戸ブックセンター」ディレクターなど、本にかかわる様々な仕事に従事。<br>「BONUS TRACK」の運営を中心に人・店・街にかかわる、株式会社散歩社の取締役もつとめる。<br>著書に『これからの本屋読本』（NHK出版）など。下北沢⇔上田の二拠点。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember03.jpg")' data-img='assets/img/aboutMember03.jpg')
								.textArea
									.name(data-nameEN='Takeshi Tajima') 但馬 武
									.pos 社外取締役
									p 1971年生まれ。fascinate株式会社社長/RELEASE;理事、最愛ブランド戦略構築家。<br>パタゴニア日本支社にてダイレクトマーケティング部門統括を中心に19年勤務。<br>その傍ら、2014年より社会性と事業性を両立する企業の成長をサポートするコンサルティングを開始。<br>2017年に地域活性化を展開するエーゼロ株式会社に役員として参画後に、<br>2018年からクリエイティブとビジネスの専門家が集まる一般社団法人RELEASE;に合流。<br>2019年2月にfascinate株式会社を創業。<br>ファンをつくりファンと歩む愛される企業「Lovable company」を増やしていく活動を展開。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember04.jpg")' data-img='assets/img/aboutMember04.jpg')
								.textArea
									.name(data-nameEN='Ayaka Sakuragi') 桜木 彩佳
									.pos チーフ・ディレクター
									p 1986年生まれ。多摩美術大学卒。<br>ライブハウス・青山月見ル君想フ／株式会社TASKOを経て、<br>株式会社東京ピストル（現・株式会社BAKERU）にて、<br>イベントパーク「下北沢ケージ」現場責任者／シェアオフィス「HOLSTER」管理人を担当。<br>現在は下北沢「BONUS TRACK」の運営を行う株式会社散歩社にて、企画統括マネージャーを担当。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember05.jpg")' data-img='assets/img/aboutMember05.jpg')
								.textArea
									.name(data-nameEN='Kohei Shishida') 獅子田 康平
									.pos インストーラー
									p 1991年生まれ。2015年よりオーダーメイドの結婚式をプロデュースするブランド<br>「Happy Very Much」、カフェレストラン「BEARS TABLE」を運営。<br>サービス責任者、プロデューサーとしてウエディングのプランニング、<br>空間デザインから現場までを担当。2020年よりフリーランスに。<br>「BONUS TRACK」の運営や現場も担うデザイナー、インストーラーとしての活動を中心に、<br>個人では空間やウエディングのプロデュースを継続。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember06.jpg")' data-img='assets/img/aboutMember06.jpg')
								.textArea
									.name(data-nameEN='Gaku Nara') 奈良 岳
									.pos ディレクター
									p 1991年東京生まれ。「流しのビリヤニ」主宰。<br>建築や都市について学び、株式会社北山創造研究所を経て、<br>株式会社CAPにて食のニューススタンド「COMINGSOON」のブッキングやディレクションを行う。<br>人が集まる“場”の活用と発信に取り組む。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember07.jpg")' data-img='assets/img/aboutMember07.jpg')
								.textArea
									.name(data-nameEN='Takefumi Miyazaki') 宮﨑 岳志
									.pos ディレクター
									p 1984年、東京生まれ。<br>2000年代中盤から東京近郊を中心に全国各地で数多くのイベントの企画/制作を手掛ける。<br>2011年から2014年までライブスペース「ミュージック・オルグ」を運営。<br>その後、ライブスペース「7th FLOOR」やカフェバー「Roji」などに勤務。<br>「BONUS TRACK」では主にイベントの企画・運営を担当。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember08.jpg")' data-img='assets/img/aboutMember08.jpg')
								.textArea
									.name(data-nameEN='Akashi Oda') 小田 明志
									.pos ディレクター
									p 1991年東京生まれ。高校在学中にアートマガジン「LIKTEN」を創刊。<br>慶應大学SFC入学後は、出版社LIKTEN.LLCを設立、<br>サッカーカルチャー誌「OFF THE BALL」の創刊をはじめ、<br>光文社「JJ」でのイラスト＆コラム連載など、様々なメディアの企画編集に関わる。<br>現在は、部数限定の書籍を競売方式で販売するために開発したオークションシステム<br>「ハンマーキット」の運営会社の代表も務める。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember09.jpg")' data-img='assets/img/aboutMember09.jpg')
								.textArea
									.name(data-nameEN='Shunsuke Kimira') 木村 俊介
									.pos 「線路と街」エディター
									p 1982年生まれ。編集者。PRやコミュニケーションの領域を含め、広く様々なものを編集する。<br>社会人としてのキャリアの初期を雑誌編集者として過ごし、<br>雑誌編集や、SNSの運営、雑誌主導のオンラインスクールの企画・運営に携わったのち、<br>広告会社勤務を経て、現在は新規事業の会社で広報を担当しながら散歩社に関わる。<br>音楽、コーヒーとビール、おいしいもの、自然の近くでやるスポーツが好き。海のある町に住んでいる。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember10.jpg")' data-img='assets/img/aboutMember10.jpg')
								.textArea
									.name(data-nameEN='Miho Ogawara') 小川原 美穂
									.pos 経理
									p 小川原 美穂 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.




			include ../partials/_footer



	#popup.deviceHeight
		.Section.flexC

			.Contents.widthM.flex

				.img(style='background-image: url("assets/img/aboutMember01.jpg")')

				.textArea
					.name.flex
						.JP 小野 裕之
						.EN Hiroyuki Ono
					.pos 代表取締役CEO
					p 1984年岡山県生まれ。中央大学総合政策学部卒。<br>ソーシャルデザインをテーマにしたウェブマガジン「greenz.jp」を運営する<br>NPO法人グリーンズの経営を6年務めた後、同法人のソーシャルデザインや<br>まちづくりに関わる事業開発・再生のプロデュース機能をO&G合同会社として分社化、代表に就任。<br>greenz.jpビジネスアドバイザー。ジュエリーブランドSIRI SIRI共同代表。<br>おむすびスタンド ANDON共同オーナー。下北沢のまちづくり会社 散歩社 代表取締役。<br>西粟倉のベンチャーsonraku社外取締役。発酵デザインラボ株式会社 取締役CFO。

			.btn.moreBtn CLOSE
			

					

		
include ../partials/_foot
