include ../partials/_head



	-
		var title = 'samposha'
		var discription = 'samposha discription'
		var url = 'xxxxxx'
			
	include ../partials/_meta





body#aboutPage





	include ../partials/_header
	
	



	#wrapper
		
		
		
		
		section#KV
			
			.Section.deviseHeight
				
				.Contents.widthL
					
					.bg 
						.img.bgAnim
					
		
		
		
		main
			
			

			section#Member

				.Section

					.Contents.widthM

						h2 MEMBER

						.Holder.flex

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember01.jpg")')
								.textArea
									.name(data-nameEN='Hiroyuki Ono') 小野 裕之
									.pos 代表取締役CEO
									p 1980年生まれ。NUMABOOKS代表。ブック・コーディネーター。<br>「本屋B&B」共同経営者、「日記屋 月日」店主。ほか、株式会社バリューブックス社外取締役、<br>「八戸ブックセンター」ディレクターなど、本にかかわる様々な仕事に従事。<br>「BONUS TRACK」の運営を中心に人・店・街にかかわる、株式会社散歩社の取締役もつとめる。<br>著書に『これからの本屋読本』（NHK出版）など。下北沢⇔上田の二拠点。

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember02.jpg")')
								.textArea
									.name(data-nameEN='Shintaro Uchinuma') 内沼 晋太郎
									.pos 取締役CCO
									p 内沼 晋太郎 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember03.jpg")')
								.textArea
									.name(data-nameEN='Takeshi Tajima') 但馬 武
									.pos 社外取締役
									p 但馬 武 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember04.jpg")')
								.textArea
									.name(data-nameEN='Ayaka Sakuragi') 桜木 彩佳
									.pos チーフ・ディレクター
									p 桜木 彩佳 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember05.jpg")')
								.textArea
									.name(data-nameEN='Kohei Shishida') 獅子田 康平
									.pos インストーラー
									p 獅子田 康平 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember06.jpg")')
								.textArea
									.name(data-nameEN='Gaku Nara') 奈良 岳
									.pos ディレクター
									p 奈良 岳 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember07.jpg")')
								.textArea
									.name(data-nameEN='Takefumi Miyazaki') 宮﨑 岳志
									.pos ディレクター
									p 宮﨑 岳志 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember08.jpg")')
								.textArea
									.name(data-nameEN='Akashi Oda') 小田 明志
									.pos ディレクター
									p 小田 明志 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember09.jpg")')
								.textArea
									.name(data-nameEN='Shunsuke Kimira') 木村 俊介
									.pos 「線路と街」エディター
									p 木村 俊介 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.

							.Block.slideUp
								.imgArea
									.img(style='background-image: url("assets/img/aboutMember10.jpg")')
								.textArea
									.name(data-nameEN='Miho Ogawara') 小川原 美穂
									.pos 経理
									p 小川原 美穂 dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext. dummytext.





			#popup.deviceHeight
				.Section 

					.Contents.widthM.flex

						.img(style='background-image: url("assets/img/aboutMember01.jpg")')

						.textArea
							.name 
								.JP 小野 裕之
								.EN Hiroyuki Ono
							.pos 代表取締役CEO
							p 1980年生まれ。NUMABOOKS代表。ブック・コーディネーター。<br>「本屋B&B」共同経営者、「日記屋 月日」店主。ほか、株式会社バリューブックス社外取締役、<br>「八戸ブックセンター」ディレクターなど、本にかかわる様々な仕事に従事。<br>「BONUS TRACK」の運営を中心に人・店・街にかかわる、株式会社散歩社の取締役もつとめる。<br>著書に『これからの本屋読本』（NHK出版）など。下北沢⇔上田の二拠点。

					.btn BACK
			












			include ../partials/_footer

					

		
include ../partials/_foot
