include ../partials/_head



	-
		var title = 'samposha'
		var discription = 'samposha discription'
		var url = 'xxxxxx'
			
	include ../partials/_meta





body#projectsDetails





	include ../partials/_header
	
	



	#wrapper
		
		
		
		
		main
			
			

			section#Projects 

				.Section 

					.Contents.widthL

						.Holder.flex

							.Header
								.textArea 
									h2.ttl BONUS TRACK
									.subttl.slideUp PLACE (施設の企画・運営)<br>owner：小田急電鉄株式会社　collaborator：omusubi不動産
									p.slideUp
										| 2020年4月に下北沢に誕生した、みんなで使い、みんなで育てていく新しい “まち”。
										br
										| 小田急電鉄の線路跡地に開発された「下北線路街」のエリアの一つとして、
										br
										| 下北沢駅と世田谷代田駅のちょうど中ほどにオープンしました。
										br
										| 飲食店や物販店に加え、コワーキングスペースやシェアキッチン、広場といった、
										br
										| この場所を訪れる人自身が、この場所のカルチャーを新たに作っていくひとりになるような仕掛けをたくさん用意しています。
									p.slideUp
										| 散歩社は「BONUS TRACK」のコンセプト立案から施設全体の企画に携わり、
										br
										| マスターリース事業者として、テナントの募集・選定、施設の運営管理、
										br
										| 広場やギャラリーなどを使って開催する朝市や季節市、カルチャーからジェンダー、
										br
										| 福祉、サステナビリティまで様々なテーマで展開するイベントの企画、設営、運営など、幅広く担当しています。
									ul.slideUp
										li 
											a.targetBlank(href='') webサイト
										li 
											a.targetBlank(href='') Instagram
										li 
											a.targetBlank(href='') Facebook
										li 
											a.targetBlank(href='') Twitter




						.GalleryBlock 
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00001.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00002.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00003.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00004.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00005.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00006.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00007.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00008.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00009.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00010.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00011.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00012.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00013.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00014.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00015.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00016.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00017.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00018.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00019.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00020.jpg')
							img.slideUp(src='assets/img/projects/01-BonusTrack/img00021.jpg')




			include ../partials/_footer			

					

		
include ../partials/_foot
