//- Vendor JS
script(type='text/javascript', src='./assets/js/jquery.min.js')
//- script(type='text/javascript', src='./assets/js/rellax.min.js')
script(type='text/javascript', src='./assets/js/scrollreveal.min.js')

//- script(type='text/javascript', src='./assets/js/swiper.min.js')


//- Project JS
script(type='text/javascript', src='./assets/js/app.min.js')
