section#Contact 

	a.Section.targetBlank(href='') 

		.Contents.widthM

			h2 CONTACT 

			p 散歩社へのお仕事依頼、ご相談などはこちらから





footer#Footer
	
	
	.Section.flexC
		
		
		.Contents.widthM.flex


			.Block
			
				h3 CORPORATE PROFILE

				.table 
					.tr.flex
						.th 社名
						.td 株式会社散歩社(Samposha inc.)
					.tr.flex
						.th 役員
						.td 代表取締役CEO小野裕之<br>取締役COO内沼晋太郎
					.tr.flex
						.th 所在地
						.td 東京都世田谷区代田2
					.tr.flex
						.th メールアドレス
						.td info@samposha.com
					.tr.flex
						.th 設立
						.td 2019年3月
					.tr.flex
						.th 事業内容
						.td まちづくりや店舗運営に関する企画・運営・コンサルティング<br>シェアスペース企画・運営・管理<br>各種媒体、イベント企画・編集・運営



			.Block.fontEN

				ul.flex
					li
						a(href='./about.html') ABOUT US
					li
						a(href='./?top#Service') SERVICE
					li
						a(href='./projects.html') PROJECTS
					li
						a(href='./news.html') NEWS
					li
						a.targetBlank(href='') CONTACT
	
				.cw © 2022 samposha inc. ALL Rights Reserved.
