header#header
		
		
	.Section
			
			
		.HeaderArea.flexC.widthL
				
				
			.LogoArea
				a(href='./?top')


			.MenuArea.pc
				ul.flexC
					li
						a(href='./about.html') ABOUT US
					li
						a(href='./?top#Service') SERVICE
					li
						a(href='./?top#Projects') PROJECTS
					li
						a(href='./?top#News') NEWS
					li
						a.targetBlank(href='') CONTACT


			.menuBar.sp
				span
				span
				span
				span MENU



						



#menuArea.sp

	.Section.flexC
		
		
		.Contents.widthL
			
			.MenuArea
				ul.flex
					li
						a(href='./about.html') ABOUT US
					li
						a(href='./?top#Service') SERVICE
					li
						a(href='./?top#Projects') PROJECTS
					li
						a(href='./?top#News') NEWS
					li
						a.targetBlank(href='') CONTACT

			
