#LoadingContents.deviceHeight


	.LoadingPage.scene01
	
		.LoadingBlock.fontJP
			.row
				| つくる
				span ま
				span ち
				span を
				| つくる。
			.row
				| そだつ
				span 店
				span が
				| そだつ。
			.row
				| つづける
				span 人
				span と
				| つづける。


	.LoadingPage.scene02
				
		.LoadingBlock.flex
			.Logo
			
